[submodule ".registry"]
	path = .registry
	url = https://github.com/r-universe-org/cran-to-git
	branch = HEAD
[submodule "conjurer"]
	path = conjurer
	url = https://github.com/sidharthmacherla/conjurer
